// Primary Colors
$Soft-orange:hsl(35, 77%, 62%);
$Soft-red:hsl(5, 85%, 63%);

// Neutral
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(211, 68%, 94%);
$Very-dark-blue: hsl(206, 21%, 85%);

